body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;

}

.container {
    text-align: center;
    border: 5px solid #000;
    background: radial-gradient(circle, black 5%, transparent 5%) 0 0;
    background-size: 10px 10px; /* Задаємо інтервал між точками */
    pointer-events: none;
}

.video_container {
    /* Загальні стилі для контейнера */
    position: relative;
    padding-bottom: 56.25%; /* Пропорція 16:9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 640px; /* Максимальна ширина контейнера */
    margin: 0 auto;

}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;
    max-width: 250px;
    height: auto;
}
